TP2 Webscraping&api/Jupyter/csv/bolsaMadrid.csv
TP2 Webscraping&api/Jupyter/WSIssue1 copy.ipynb
TP2 Webscraping&api/Jupyter/bolsaMadrid.ipynb
ACCIONES YFINANCE.ipynb
TP2 Webscraping&api/Jupyter/investpy_change_percentage.ipynb
