TP2 Webscraping&api/__pycache__/comparar.cpython-38.pyc
TP2 Webscraping&api/__pycache__/ganancia_perdida.cpython-38.pyc
TP2 Webscraping&api/__pycache__/BolsaMadrid.cpython-38.pyc
TP2 Webscraping&api/__pycache__/graficos.cpython-38.pyc
TP2 Webscraping&api/__pycache__/investpy_spain.cpython-38.pyc
TP2 Webscraping&api/__pycache__/yahoofinance.cpython-38.pyc
